<!-- Header -->
<header class="masthead text-white text-center">
  <div class="container">
    <img class="header-top img-fluid mb-5 d-block mx-auto" src="..\..\..\assets\images\book4.png" alt="BookStore" title="BookStore">
    <h1 class="text-uppercase mb-0">Sign In</h1>
    <h2 class="text-uppercase mb-0">Online Book Store</h2>
    <hr class="star-light">
  </div>
</header>



<br/><br/><br/>




<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" (ngSubmit)="onSubmit()">
          <span id="reauth-email" class="reauth-email"></span>
          <input [(ngModel)]="username" name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
          <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
          <a  class="btn btn-block btn-social btn-facebook text-white">
            <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
          <a  class="btn btn-block btn-social btn-google text-white">
            <span class="fa fa-google"></span> Sign in with Facebook
          </a>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
          Forgot the password?
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->