<!-- Navigation
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container menu-left">
    <a class="navbar-brand js-scroll-trigger" href="/">Book Store</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>

    <div class="menu-right">
    <div class="collapse  navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/login">Login</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/inscription">Registration</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav> -->



<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="header-top img-fluid mb-5 d-block mx-auto" src="..\..\..\assets\images\book4.png" alt="BookStore" title="BookStore">
    <h1 class="text-uppercase mb-0">Online Book Store</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Find the best books with the best prices</h2>
  </div>
</header>


<!-- About Section -->
<section class="portfolio" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Gone are the days, when books were always hand-held. In this digital age, there are Kindle eBooks which you can read
          on your Book Store Kindle. Some selected range of free eBooks are present if you want to download them on to your
          device. Apart from that, there are audiobooks, which can be used by those who prefer listening to reading. This
          is especially helpful for students who want to listen to recorded lectures by reputed professors, and also to those
          who can’t read.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">When you shop online, there are hot pre-orders. You can easily secure that book you’ve always wanted to read, as
          the book will be delivered at your doorstep soon after its official release. You also have easy access to most
          of the new arrivals, with book descriptions that help you get an idea about the book without spoilers.</p>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="footer text-center" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">Centre Urbain Nord,
          <br>INSAT</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-google-plus"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fa fa-fw fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">About Book Store</h4>
        <p class="lead mb-0">Please contact us, if there's any problem.
          <a href="http://startbootstrap.com">Book Store Team</a>.</p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; Your Website 2018</small>
  </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>